body {
    background: no-repeat url("../images/matheo-jbt-yqIFxfERlpU-unsplash.jpg");
    background-size: cover;
    display: grid;
}

.about-container {
    max-width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70vh;
}


h1 {
    color: var(--background-color1);
    font-size: 70px;
    margin-left: 70px;
    margin-top: 30px;
    text-shadow: #000 1px 0 10px;
}


.about-info {
    background-color: rgba(0,0,0,.73);
    padding: 30px;
    color: white;
    font-size: 20px;
}


.about-info p {
    font-style: italic;
    font-weight: 100;
    margin-bottom: 50px;
}


.about-info a {
    color: white;
    font-weight: bolder;
    font-size: 30px;
}

.about-info a:hover {
    color: var(--background-color1)
}