@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins/Poppins-Regular.ttf");
}


body {
    display: grid;

}


.page-container {
    background: no-repeat center/100% url("../images/homepageimage.jpg");
    background-size: cover;
    width: 100%;
}



h1 {
    font-size: 87px;
    color:white;
    margin: 36px;
    margin-left: 125px;
}


.discoverocean {
    margin-top: 130px;
}


.discover h2 {
    color: #21E4FF;
    margin-left: 190px;
    margin-top: 0px;
    font-size: 49px;
    transition: all 0.3s ease-in-out
}

.discover h2:hover {
    letter-spacing: 2px;
}


.h2 svg:hover {
    width: 100px;
}

.posts {
    text-decoration: none;
    width:774px;
}



.homepage_bottom {
    display: block;
}


.bottom_container_main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgba(0,0,0,.73);
    height: 373px;
    border-bottom: 2px solid #21E4FF;
}



.homepage_bottom_left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.homepage_bottom_left a {
    font-size: 35px;
    color:#21E4FF;
    text-align: center;
}


.homepage_bottom_left ul {
    font-size: 23px;
    margin: 0px;
    padding: 0px;

}


.homepage_bottom_left li {
    display: flex;
    flex-direction: row;
    font-weight: bolder;
    line-height: 34px;
    list-style: none;
    color:white;
}


.homepage_bottom_left li img {
    width: 60px;
    margin: 0 30px 0 0;
}


.homepage_bottom_right {
    display: flex;
    align-items: center;
    justify-content: center;
}


.content-container {
    margin-top: 150px;
}

.discover {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/*carousel*/
.recent {
    margin: 120px auto;
    width: 600px;
    margin-bottom: -20px;
}

.recent h2 {
    font-size: 70px;
    text-align: center;
    margin: 0px;
    margin-bottom: 43px;
    color:#00515C;
}


.slider-wrapper {
    display: flex;
    position: relative;
}


.slide img {
    width: 600px;
    height: 100%;
    height: 500px;
    background-size: cover;
    object-fit: cover;
    position: relative;
    overflow: hidden;
}


.slides-container {
    width: 100%;
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.slide-arrow {
    position: absolute;
    display: flex;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 4rem;
    background-color: white;
    border: none;
    width: 2rem;
    font-size: 3rem;
    padding: 0;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 100ms;
    z-index: 1;
}

.slide-arrow:hover,
.slide-arrow:focus {
  opacity: 1;
}


#slide-arrow-prev {
    left: 0;
    border-radius: 0 2rem 2rem 0;
}
  

#slide-arrow-next {
    right: 0;
    border-radius: 2rem 0 0 2rem;
}


.slide {
    flex: 1 0 100%;
    list-style: none;
}


.slide a {
    text-decoration: none;
    color: black;
    position: relative;
}


.slide h3 {
    font-size: 2rem;
    text-align: center;
}


.slide p {
    font-size: 1.2rem;
    text-align: center;
    margin: 15px;
    z-index: 1;
}


.slide p:hover {
    text-decoration: underline;
    z-index: 1;
}

.slide h3:hover {
    text-decoration: underline;
}


