@media only screen and (max-width: 1400px) {
    /* styles and index page */

    .navigation {
        font-size: 30px;
    }

    .logo img {
        width: 180px;
        height: 90px;
    }

    .content-container {
        margin-top: 110px;
    }

    .discover h1 {
        font-size: 70px;
    }

    .discover h2 {
        font-size: 40px;
    }

    .homepage_bottom_left ul {
        margin-left: 30px;
        font-size: 20px;
    }

    .homepage_bottom_left li img {
        width: 50px;
    }

    .homepage_bottom_left li {
        margin-bottom: 10px;
    }

    .cta {
        padding: 20px;
        width: 250px;
    }

    /* posts page */

    .jelly2 {
        left: 50%;
    }

    .jelly, .jelly2 {
        width: 300px;
    }
}


@media only screen and (max-width: 900px) {
    /* styles and index page */

    .discover h1 {
        font-size: 55px;
        margin-left: 100px;
    }

    .logo img {
        width: 140px;
        height: 70px;
    }


    .navigation {
        gap: 80px;
    }

    .discover h2 {
        font-size: 35px;
        margin-left: 140px;
        margin-bottom: 20px;
    }

    .bottom_container_main {
        grid-template-columns: 1fr;
    }

    .homepage_bottom_left {
        margin-top: 30px;
    }

    .homepage_bottom_right a {
        margin-bottom: 60px;
    }

    .navigation {
        gap: 60px;
        font-size: 25px;
    }
    
    .posts {
        width: 100%;
    }

    /*posts page */

    .jelly2 {
        left: 36px;
    }

    .jelly3 {
        bottom: 18%;
    }

    .postswrapper h1 {
        font-size: 60px;
    }

    .postswrapper {
        justify-items: center;
    }

    .posts_main-container img {
        width: 600px;
        height: 350px;
    }

    #post:after {
        height: 350px;
    }

    #post h2 {
        font-size: 40px;
        bottom: 130px;
    }

    #post p {
        font-size: 17px;
    }
     /* about page */

    .about-info {
        font-size: 16px;
    }

    .about-info p {
        margin-bottom: 30px;
    }

    .about-info a {
        font-size: 22px;
    }

    .about-container h1 {
        font-size: 50px;
    }
}

@media only screen and (max-width: 700px) {
    /* posts page */
    .jelly2 {
        left: 15%;
    }

    .jelly3 {
        width: 400px;
    }

    .posts_main-container img {
        width: 400px;
        height: 280px;
    }

    #post:after {
        height: 280px;
    }

    #post h2 {
        font-size: 25px;
        margin-left: 30px;
    }

    #post p {
        font-size: 17px;
        margin-left: 30px;
    }

    /* styles and index page*/
    .logo img {
        width: 120px;
        height: 50px;
        margin-left: 10px;
        margin-top: 20px;
    }

    .navigation {
        gap: 60px;
        font-size: 17px;
    }

    .discover h1 {
        margin-left: 40px;
        font-size: 40px;
        margin-bottom: 20px;
    }

    .discover h2 {
        margin-left: 70px;
        font-size: 25px;
    }

    .homepage_bottom_left ul {
        font-size: 16px;
    }

    .homepage_bottom_left li img {
        width: 35px;
        margin-right: 25px;
    }

    .homepage_bottom_right a {
        margin-bottom: 40px;
        width: 230px;
        padding: 15px;
    }

    .recent {
        margin-top: 100px;
        width: 450px;
    }

    .recent h2 {
        font-size: 60px;
    }

    .slide img {
        width: 450px;
    }

    footer p {
        font-size: 15px;
    }
    
    .breadcrumbs, .activeBreadcrumb {
        font-size: 18px!important;
    }

    .breadcrumbs {
        margin-left: 20px;
    }

} 

@media only screen and (max-width: 500px) {

/* posts page*/

    .postswrapper h1 {
        font-size: 50px;
        margin-bottom: 20px;
    }

    .posts_main-container img {
        width: 330px;
        height: 180px;
    }

    #post:after {
        height: 180px;
    }

    #post h2 {
        font-size: 20px;
        margin-left: 30px;
        bottom: 64px;
    }

    #post p {
        font-size: 13px;
        margin-left: 30px;
        bottom: 20px;
    }

    .jelly {
        bottom: 60%;
    }

    .jelly2 {
        display: none;
    }

    .jelly3 {
        bottom: 35%;
        width: 300px;
        margin: 0px;
    }

/* styles and index page */
    .discover svg {
        width: 40px;
    }


    .content-container {
        margin-top: 70px;
    }

    .discover h1 {
        font-size: 40px;
    }

    .discover h2 {
        font-size: 20px;
        margin-left: 70px;
    }

    .homepage_bottom_left ul {
        font-size: 13px;
    }

    .homepage_bottom_left li {
        line-height: 15px;
        align-items: center;
    }

    .homepage_bottom_right a {
        width: 200px;
        padding: 12px;
        font-size: 20px;
    }

    .recent {
        width: 350px;
    }

    .recent img {
        width: 350px;
    }

    .recent h2 {
        font-size: 40px;
    }

    .dropdown-content {
        position: absolute;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        right: 20px;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content a {
        color: black;
        padding: 12px 10px;
        text-decoration: none;
        display: block;
        background-color: white;
    }

    .navigation {
        display: none;
    }

    .dropbtn {
        display: block;
        border-radius:20%;
        background-color: var(--background-color1);
        color: white;
        margin-right: 20px;
        margin-top: 20px;
        border: none;
    }

    
    .dropbtn:hover {
        cursor: pointer;
        background: var(--background-color2);

    }

    .dropdown-content a:hover {
        background: var(--background-color2);

        color: white;
    }

    .show {
        display: block;
    }


/* about page */
    .about-container {
        display: flex;
        justify-self: center;
        flex-direction: column;
        align-items: center;
        max-width: 100%!important;
    }

    .about-container h1 {
        margin: 0;
    }

    .about-info {
        font-size: 14px;
    }

}   