@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins/Poppins-Regular.ttf");
}


body {
    position: relative;
    background: linear-gradient(250deg, #0f2980, #000305, #000000);
    min-height: 100vh;
    max-width: 100%;
}


main a {
    color: white;
}


h1 {
    margin-top: 120px;
    color: white;
    font-size: 80px; 
}


.jelly, .jelly2, .jelly3 {
    position: absolute;
    width: 400px;
    margin: 30px;
}


.jelly {
    bottom: 70%;
}


.jelly2 {
    left: 70%;
    bottom: 30%;
    margin: 0px;
}


.jelly3 {
    bottom: 20%;
    width: 550px;
}


.posts_main-container {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 75px;
}


.posts_main-container img {
    height: 426px;
    width: 804px;
    overflow: hidden;
    object-fit: cover;
}


.posts_main-container a {
    position: relative;
    border: 2px solid white;
}


#post {
    text-align: center;
    color: white;
}

 
#post p {
    position: absolute;
    bottom: 65px;
    margin-left: 80px;
    max-width: 500px;
    text-align: left;
    font-size: 23px;
    z-index: 1;
}


#post h2 {
    position: absolute;
    bottom: 160px;
    margin-left: 80px;
    color: var(--background-color2);
    font-weight: bolder;
    font-size: 60px;
    z-index: 1;
}



#post:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 435px;
    background: linear-gradient(180deg, rgba(0,0,0,0), black);
 }

.postswrapper {
    display: grid;
    grid-template-rows: 1fr auto;
    max-width: 804px;
    align-items: center;
    margin: 0 auto;
    color: #21E4FF;
}


.loadMore {
    display: flex;
    width: 170px;
    justify-content: center;
    margin: 60px auto;
    padding: 10px;
    color: white;
    background: var(--background-color1);
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.loadMore:hover {
    background: #19b9ce;
}

#topBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 100;
    border: none; 
    outline: none;
    background: var(--background-color1);
    color: white;
    font-size: 16px;
    padding: 14px;
    border-radius: 3px;
}

#topBtn:hover {
    background: var(--background-color2);
    cursor: pointer;
}