body {
    background: no-repeat center/100% url("../images/jeremy-bishop-G9i_plbfDgk-unsplash.jpg");
    background-size: cover;
    min-height: 100vh;
}


.post-content {
    margin: 30px;
}


.post-info {
    display: grid;
    grid-template-columns: auto auto;
    margin: 0 auto;
    justify-items: left;
    align-items: center;
    min-height: 65vh;
}


.post-info img {
    width: 400px;
    height: 400px;
    overflow: hidden;
    object-fit: cover;
    border-radius: 80px;
    border: 2px solid white;
    margin: 30px;
}


.posts-bottom-container {
    display: flex;
    min-width: 100%;
    justify-content: center;
}


h1 {
    font-size: 70px;
    color: white;
}


.post-content p {
    font-size: 20px;
    color: white;
}


.goback {
    color: var(--background-color1);
    font-size: 30px;
    font-weight: bold;
    text-decoration: underline!important;
    margin: 30px;
}

