@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins/Poppins-Regular.ttf");
}


body {
    position: relative;
    background: linear-gradient(135deg, #002088, #000e1b, #000000);
    min-height: 100vh;
}

h1 {
    margin: 10px auto;
    text-align: center;
}


.jelly {
    position: absolute;
    width: 400px;
    margin: 20px;
    left: 80%;
    bottom: 50%;
}


.posts_main-container {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}


.posts_main-container img {
    height: 426px;
    width: 703px;
    overflow: hidden;
    object-fit: cover;
}


.posts_main-container a {
    margin: 40px;
    position: relative;
}


#post {
    text-align: center;
    color: white;
}

 
#post p {
    position: absolute;
    bottom: 125px;
}


#post h2 {
    position: absolute;
    bottom: 230px;
}