@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins/Poppins-Regular.ttf");
}


* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}


.logo img {
    width: 200px;
    height: 100px;
    margin-left: 40px;
    margin-top: 40px;
}


.navigation  {
    margin: 0px;
    display: flex;
    gap: 120px;
    margin-right: 30px;
    font-size: 40px;
}


.navigation p {
    color: white;
}


.navigation a {
    text-decoration: none;
}


.active-nav {
    text-decoration: underline!important;
	text-decoration-color: #21E4FF!important;
    text-decoration-thickness: 4px!important;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.activeBreadcrumb {
    text-decoration: underline;
    color: #21E4FF;

}

.breadcrumbs a {
    text-decoration: none;
    color: #21E4FF;
}

.breadcrumbs {
    display: flex;
    font-size: 25px!important;
    align-items: center;
    margin: 25px 50px 0px 50px;
}


.activeBreadcrumb {
    font-size: 25px;
}



footer {
    display: flex;
    justify-content: center;
    align-self: end;
    color: white;
    background-color: black;
}


.cta {
    color: white;
    background-color: #21E4FF;
    padding:30px;
    border-radius: 20px;
    width: 300px;
    text-align: center;
    text-decoration: none;
    font-size: 27px;
}


.cta:hover {
    background: #19b9ce;
}


.carousel-main-container {
    height: 100vh;
    background-color: white;
    display: flex;
}